/samples/simple/source/xlights_rgbeffects.xbkp
/.idea/vcs.xml
/model_classifications.json
/.idea/xmapper.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/xMapper/xMapper/model_classifications.json
/.idea/misc.xml
/.env
